
<!-- list layout (e.g. tags/categories) -->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h1 class="entry-title">
            The Expedition of Abbot Shaw
          </h1>
        </header>
          {{ .Content }}
        <h2> Episodes <a href="{{ "/expedition/index.xml" | absURL }}" type="application/rss+xml" title="Podcast RSS"><i class="fa fa-rss-square fa-lg"></i></a>

	</h2>
	{{ $pagecount := where .Data.Pages.ByPublishDate.Reverse "Type" "episode"  }}
	{{ if eq (len $pagecount) 0 }}
		<p>
			No episodes have been released at this time. Please make sure to subscribe to our RSS feed!
		</p>
	{{end}}

        <div id="blog-archives" class="category">

          {{ range where .Data.Pages.ByPublishDate.Reverse "Type" "episode"}}
          <h2>
            {{ .Date | dateFormat "2006"}}
          </h2>
          <article>
            <h1>
              <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
            <time>
              <span class="month">{{ .Date | dateFormat "Jan" }}</span>
              <span class="day">{{ .Date | dateFormat "2" }}</span>
            </time>
            <footer>
              <span class="categories"> <!-- show categories and tags -->
                {{ $.Scratch.Set "cats" .Params.categories }}
                {{ with .Params.categories }}
                posted in:
                {{ range ($.Scratch.Get "cats") }} <a class="category" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ end }}
              </br>
                {{ end }}

                {{ $.Scratch.Set "tags" .Params.tags }}
                {{ with .Params.tags }}
                tags:
                {{ range ($.Scratch.Get "tags") }} <a class="category" href="{{ "/tags/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ end }}
                {{ end }}
              </span>
            </footer>
            <br clear="all"/>
          </article>
          {{ end }}
        </div>
      </article>
    </div>

    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
