<!-- Layout for individual pages -->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">
        <header>
          <h1 class="entry-title">
            {{ .Title }} <!-- we don't need page title to be a link on the actual page -->
          </h1>
          <p class="meta">Released: {{ .Date.Format "Jan 2, 2006" }} - {{ if .Site.Params.disqusShortname }} <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}

          <!-- if you want anything in the header between Disqus comments and categories add them here -->

          {{ if isset .Params "categories" }}
          <!-- <br/> this will make the categories go to the second line and mess with the title -->
          {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ end }}
          {{ end }}</p>
        </header>
        <div class="entry-content">
          <!-- insert table of contents if it is set either in the config file or in the frontmatter - frontmatter has priority -->
          {{ $.Scratch.Set "pagetoc" .TableOfContents }}
          {{ if or (and (isset .Params "toc") (eq .Params.toc true)) (and (not (isset .Params "toc")) (eq .Site.Params.tableOfContents true)) }}
            {{ $.Scratch.Get "pagetoc" }}
          {{ end }}
          {{ .Content }}

	  <p><a href="{{.Params.audio | absURL}}">{{.Params.audio}}</a></p>
        </div>
        <div class="Credits">
        <h2>Credits</h2>
        {{$credits := index $.Site.Data.credits .Params.Season  .Params.Episode}}
        {{if isset $credits "Voices"}}
          <div class="Voices">
            Voice acting provided by:
            <ul>
              {{range $actor, $characters := $credits.Voices}}
              <li> <strong>{{$actor}}</strong> as <em>{{delimit $characters ", " ", and "}}</em>
              {{end}}
            </ul>
          </div>
        {{end}}
        {{if isset $credits "SoundEffects"}}
          <div class="SoundEffects">
            Sound Effected Provided by:
            <ul>
              {{range $creator := $credits.SoundEffects}}
              <li> <strong>{{$creator}}</strong>
              {{end}}
            </ul>
          </div>
        {{end}}
        {{if isset $credits "WrittenBy"}}
          <div class="WrittenBy">
            Written by: <strong>{{delimit $credits.WrittenBy ", " ", and "}}</strong>
          </div>
        {{end}}
        {{if isset $credits "Music"}}
          <div class="Music">
            Music by: <strong>{{delimit $credits.Music ", " ", and "}}</strong>
          </div>
        {{end}}
        {{if isset $credits "SpecialThanks"}}
          <div class="SpecialThanks">
            Special Thanks to: <strong>{{delimit $credits.SpecialThanks ", " ", and "}}</strong>
          </div>
        {{end}}
        {{ partial "post_footer.html" . }}
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
