{{$scratch := newScratch }}
{{range $season, $sdata := $.Site.Data.credits}}
  {{range $episode, $edata := $sdata}}

	  {{ if isset $edata "Voices"}}
      {{range $actor, $characters :=  $edata.Voices}}
        {{$names := $scratch.Get "names"}}
        {{$scratch.Set "names" (uniq ($names | append $actor) )}}
        {{ if $scratch.Get $actor }}
          {{$characters := $scratch.Get $actor | append $characters}}
          {{$scratch.Set $actor (uniq $characters)}}
        {{else}}
          {{$scratch.Set $actor (uniq $characters)}}
        {{end}}
      {{end}}
    {{end}}

    {{ if isset $edata "SoundEffects"}}
      {{range $SoundEffects :=  $edata.SoundEffects}}
        {{$effects := $scratch.Get "effects"}}
        {{$scratch.Set "effects" (uniq ($effects | append $SoundEffects) )}}
      {{end}}
    {{end}}
    {{ if isset $edata "WrittenBy"}}
      {{range $WrittenBy :=  $edata.WrittenBy}}
        {{$written := $scratch.Get "written"}}
        {{$scratch.Set "written" (uniq ( $written | append $WrittenBy) )}}
      {{end}}
    {{end}}

    {{ if isset $edata "Music"}}
      {{range $Music :=  $edata.Music}}
        {{$music := $scratch.Get "music"}}
        {{$scratch.Set "music" (uniq ( $music | append $Music) )}}
      {{end}}
    {{end}}
    {{ if isset $edata "SpecialThanks"}}
    {{range $Thanks :=  $edata.SpecialThanks}}
      {{$temp := $scratch.Get "thanks"}}
      {{$scratch.Set "thanks" (uniq ( $temp | append $Thanks) )}}
    {{end}}
  {{end}}

  {{end}}
{{end}}
<h1>Cast:</h1>
<ul>
{{range $actor := $scratch.Get  "names"}}
<li><strong>{{$actor}} as </strong> {{delimit ($scratch.Get $actor) ", " ", and "}}</li>
{{end}}
</ul>
<h1>Sound effects by:</h1>
{{delimit ($scratch.Get "effects") ", " ", and "}}

<h1>Written by:</h1>
{{delimit ($scratch.Get "written") ", " ", and "}}

<h1>Music by:</h1>
{{delimit ($scratch.Get "music") ", " ", and "}}

<h1>Special Thanks to:</h1>
{{delimit ($scratch.Get "thanks") ", " ", and "}}
